.x-chat {
    border: 1px solid #99BBE8;
    background-color:#DFE8F6;
}

.x-chat-title {
    color:#15428B;
    border-bottom: 1px solid #99BBE8;
    font-family:tahoma,arial,verdana,sans-serif;
    font-size:11px;
    font-weight:bold;
    background:url("../img/white-top-bottom.gif") repeat-x scroll 0 0 transparent;
}

.x-chat-title-wrapper {
    padding:5px 0 0 5px;
    margin-right:25px;
}

.x-chat-tool {
    background:url("../img/tool-sprites.gif") repeat-x scroll 0 -15px transparent;
    width:15px;
    height:15px;
    margin:0 3px 0 auto;
    top:-15px;
    position:relative;
}

.x-chat-list {
    border: 1px solid #99BBE8;
    background-color:#FFFFFF;
    margin:5px;
}

.x-chat-list-msg {
    margin:2px 5px;
}

.x-chat-form {
    margin:0 5px 5px 5px;
}

.x-chat-form-editor {
    border: 1px solid #99BBE8;
    background-color:#FFFFFF;
    margin-right:5px;
}

.x-chat-form-editor textarea {
    border:none;
    font:12px tahoma,arial,helvetica,sans-serif;
}

.x-chat-form-button {
    xborder: 1px solid red;
    font:14px tahoma,arial,helvetica,sans-serif;
}


 

.x-chat-msg-wrap {
x    border-bottom:1px solid #99BBE8;
    padding:4px;
}

.x-chat-msg-wrap.striped {
    background-color:#EFEFEF;
}

.x-chat-msg-header, .x-chat-msg-body {
    font:12px tahoma,arial,helvetica,sans-serif;
}

.x-chat-msg-header {
x    margin:2px 2px 2px 4px;
    font-weight:bold;
}

.x-chat-msg-body {
x    margin:0 2px 4px 4px;
}

.x-chat-msg-time {
    margin-left:10px;
    font-weight:normal;
    color:darkgrey;
    font-size:12px;
}
